.App {
  padding: 0.2rem 1rem;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.header progress{  
  width: 50%;
  height: 4rem;
}

.container {
  display: flex;
  flex-flow: row nowrap;

  align-items: stretch;
}


.left-half {
  background-color: #ff9e2c;
  flex: 1;
  padding: 1rem;
}

.right-half {
  background-color: #b6701e;
  flex: 1;
  padding: 1rem;
}

.compare-image {
  
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
  object-fit: contain;
}