.App {
  padding: 0.2rem 1rem;
}

.header {
  display: flex;
  justify-content: center;
}

.header progress{  
  width: 50%;
  justify-content: center;
  height: 3rem;
}

.container {
  display: flex;
  flex-flow: row nowrap;

  align-items: stretch;
}


.left-half {
  background-color: #ff9e2c;
  flex: 1;
  padding: 1rem;
}

.right-half {
  background-color: #b6701e;
  flex: 1;
  padding: 1rem;
}

.compare-image {
  
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
  object-fit: contain;
}

#myProgress {
  width: 100%;  
  background-color: #ddd;
}

#myBar {
  width: 100%;
  height: 120%;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 50px;
  padding: 10px 0px;
}